<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:if="${showHeader == true}">
    <header th:replace="~{layout/header :: header}"></header>
</div>

<div class="container-fluid">
    <main th:replace="${content}">
    </main>
</div>

<div th:if="${showFooter ?: false}">
    <footer th:replace="~{layout/footer :: footer}"></footer>
</div>

<script th:src="@{/js/script.js}"></script>

</body>
</html>