<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: html(content=~{::main})}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.0/font/bootstrap-icons.css}">
</head>
<body>
<main>
<h1>Create person</h1>
<br>
<form method="post" th:action="@{/home/create}" th:object="${dto}">

    Name : <input type="text" th:field="*{person.name}">
    <span style="color: red" th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}"></span>
    <br>
    Surname : <input type="text" th:field="*{person.surname}">
    <span style="color: red" th:if="${#fields.hasErrors('person.surname')}" th:errors="*{person.surname}"></span>
    <br>
    Email : <input type="text" th:field="*{person.email}">
    <span style="color: red" th:if="${#fields.hasErrors('person.email')}" th:errors="*{person.email}"></span>
    <br>
    Age : <input type="number" th:field="*{person.age}">
    <span style="color: red" th:if="${#fields.hasErrors('person.age')}" th:errors="*{person.age}"></span>
    <br>
    Profession : <input type="text" th:field="*{profession.name}">
    <span style="color: red" th:if="${#fields.hasErrors('profession.name')}" th:errors="*{profession.name}"></span>
    <br>
    <br>
    <button class="btn add" type="submit">Save</button>
    <a class="btn dlt" th:href="@{/home/people(page=${dto.getLastUsedPage()})}">Cancel</a>

</form>
</main>
</body>
</html>
